<div class="container">
    <mat-sidenav-container fullscreen class="main-page">
        <mat-sidenav #leftsidenav class="mat-elevation-z6 side-nav" mode="side" opened="true">
            <mat-nav-list class="mt-5">
                <mat-list-item class="left-nav-list-item">
                    <h3 matLine>All Patients</h3>
                    <fa-icon [icon]="faUserInjured" matListIcon></fa-icon>
                </mat-list-item>
                <mat-list-item class="inactive-list-items">
                    <h3 matLine>Appointments</h3>
                    <fa-icon [icon]="faCalendarAlt" matListIcon></fa-icon>
                </mat-list-item>
                <mat-list-item class="inactive-list-items">
                    <mat-icon matListIcon>dashboard</mat-icon>
                    <h3 matLine>Dashboard</h3>
                </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <form class="m-2">
                <div class="search-container mt-3">
                    <fa-icon [icon]="faSearch"></fa-icon>
                    <input type="text" placeholder="Search by Name | Mobile Number" class="form-control-plain-text">
                </div>
            </form>
            <mat-nav-list>
                <mat-list-item *ngFor="let patient of patientsList " >
                    <img src="../../assets/abdul kalam.jpeg" alt="Avatar" class="avatar" matListIcon>
                    <h3 matLine>{{patient}}</h3>
                    <mat-icon matIconSuffix>keyboard_arrow_right</mat-icon>
                </mat-list-item>
            </mat-nav-list>
            <div class="add-patient">
                <button mat-fab color="primary" (click)="onAddPatient(overlayTemplate)">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

        </mat-sidenav-content>
        <mat-sidenav #rightsidenav class="mat-elevation-z6 side-nav" mode="side" opened="true" position="end">
            <div class="d-flex flex-column">
                <div class="mx-auto text-center mt-3">
                    <img src="../../assets/abdul kalam.jpeg" alt="Avatar" class="avatar" matListIcon>
                    <div class="avatar-name">
                        <h3>Neeraj Nanda</h3>
                        <p>Last visit 12-Sept-18</p>
                    </div>
                </div>
                <mat-card class="m-3">
                    <mat-card-subtitle><fa-icon [icon]="faEdit" class="float-right"></fa-icon></mat-card-subtitle>
                    <mat-card-content>
                        <div class="personal-details">
                            <p> <span>DOB</span> &nbsp;&nbsp; <span> 18-AUG-1954</span></p>
                            <p> <span>AGE</span> &nbsp;&nbsp; <span> 63</span></p>
                            <p> <span>GEN</span> &nbsp;&nbsp; <span> MALE</span></p>
                            <p> <span>PHN</span> &nbsp;&nbsp; <span> +91 7995237342</span></p>
                        </div>
                    </mat-card-content>
                </mat-card>
                <mat-card class="m-3">
                        <mat-card-subtitle>
                            <div class="d-flex justify-content-between">
                                <div> ADD ALLERGIES</div>
                                <div>
                                    <button mat-button class="edit-button">EDIT</button>
                                </div>
                            </div>
                        </mat-card-subtitle>
                    <mat-card-content>
                        <div class="personal-details">
                            Latex Allergy, Mold Allerge, Pet Allergy, <br> Pollen Allergy
                        </div>
                    </mat-card-content>
                </mat-card>
                <mat-card class="m-3">
                    <mat-card-subtitle>
                        <div class="d-flex justify-content-between">
                            <div> EMERGENCY CONTACT</div>
                            <div><button mat-button class="edit-button">EDIT</button></div>
                        </div>
                    </mat-card-subtitle>
                <mat-card-content>
                        <div class="personal-details">
                            <p> <span>NME</span> &nbsp;&nbsp; <span> Nandini Veda</span></p>
                            <p> <span>REL</span> &nbsp;&nbsp; <span> Mother</span></p>
                            <p> <span>PHN</span> &nbsp;&nbsp; <span> +91 7995237342</span></p>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card class="m-3">
                <mat-card-subtitle>
                    <div class="d-flex justify-content-between">
                        <div> INSURANCE INFO</div>
                        <div><button mat-button class="edit-button">EDIT</button></div>
                    </div>
                </mat-card-subtitle>
            <mat-card-content>
                    <div class="personal-details">
                        <p> <span>PRV</span> &nbsp;&nbsp; <span> AETNA HEALTH</span></p>
                        <p> <span>FUN</span> &nbsp;&nbsp; <span> ActiveHealth Plan</span></p>
                        <p> <span>NUM</span> &nbsp;&nbsp; <span> 1324FJN2NNJ2F</span></p>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="m-3">
            <mat-card-subtitle>
                <div class="d-flex justify-content-between">
                    <div> ADDRESS</div>
                    <div><button mat-button class="edit-button">EDIT</button></div>
                </div>
            </mat-card-subtitle>
        <mat-card-content>
                <div class="personal-details">
                    2930 Chestnut st. Philadelphia,19104
            </div>
        </mat-card-content>
    </mat-card>
            </div>
                <button mat-stroked-button color="primary" class="delete-patient">DELETE PATIENT</button>
        </mat-sidenav>
        
    </mat-sidenav-container>
</div>

<ng-template  #overlayTemplate let-overlayTemplate="overlayTemplate">
    <mat-sidenav-container fullscreen class="overlay-template">

    <mat-sidenav-content class="overlay-template-content">
        <div class="row">
            <div class="col-md-6">
                <button mat-icon-button class="btn-lg" (click)="onOverLayClosed()">
                    <mat-icon class="text-white close-button">close</mat-icon>
                </button>
            </div>
            <div class="col-md-6">
                <h1 class="text-white">Patient registration <br>
                (Step 3/3)</h1>
            </div>
        </div>
    </mat-sidenav-content>

    <mat-sidenav class="card-image-nav" #rightsidenavInOverlay class="mat-elevation-z6" mode="side" opened="true" position="end">
        <mat-card>
            <div>
                <img *ngIf="!isCameraClicked" mat-card-image src="../../assets/abdul kalam.jpeg" alt="card-image">
                <webcam *ngIf="isCameraClicked" [height]="500" [width]="500"></webcam>
                <button mat-mini-fab class="camera-button" (click)="onCameraClick()">
                    <mat-icon>photo_camera</mat-icon>
                </button>
            </div>
            

            <mat-card-content>
                <div class="d-flex justify-content-around">
                    <img src="../../assets/abdul kalam.jpeg" alt="Avatar" class="avatar">
                    <img src="../../assets/abdul kalam.jpeg" alt="Avatar" class="avatar">
                    <img src="../../assets/abdul kalam.jpeg" alt="Avatar" class="avatar">
            </div>
            </mat-card-content>
        </mat-card>
        <button mat-raised-button class="done-button" color="primary">DONE</button>
    </mat-sidenav>
</mat-sidenav-container>

</ng-template>


